*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #343a40;
  font-family: Inter, sans-serif;
}

.button {
  background-color: #e9ecef;
  color: #343a40;
  font-weight: 600;
}

.paragraph {
  color: #68717a;
}

.list-card {
  background-color: #e9ecef;
}
